$primary-color: #cab23a;
$primary-light-color: #efd244;
$primary-dark-color: #a78b2a;

$secondary-color: #6e7b10;
$secondary-light-color: #424a08;

$bp--large: 1200px;
$bp--medium: 900px;
$bp--small: 650px;
$bp--smallest: 450px;
