.main__header {
  background-color: $primary-color;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    flex-basis: 23%;
    display: flex;
    align-items: center;

    & h3 {
      margin-left: 2rem;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: #0f3a40;
    }
  }
  & .home__icon {
    height: 3rem;
    width: 4rem;
    fill: $secondary-color;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      fill: $secondary-light-color;
    }
  }

  & nav {
    flex-basis: 40%;

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-between;

      & li {
        & a:link,
        & a:visited {
          text-decoration: none;
          padding: 0.8rem 1.2rem;
          text-transform: capitalize;
          color: #163f45;
          border-radius: 0.7rem;
          font-size: 2.3rem;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s;
        }

        & a:hover {
          background-color: $primary-light-color;
          color: rgba(22, 63, 69, 0.806);
        }
      }
    }
  }
}

.isActive {
  color: $secondary-light-color !important;
  background-color: rgba($primary-light-color, 0.6);
}

@media only screen and (max-width: $bp--small) {
  .main__header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    & nav {
      margin-top: 2.5rem;
      flex-basis: 100%;

      & ul {
        justify-content: space-between;
      }
    }
  }
}
