.student__box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
@media only screen and (max-width: $bp--small) {
  .student__box {
    flex-direction: column;
  }
}

.students {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

@media only screen and (max-width: $bp--small) {
  .students {
    width: 100%;
  }
}
.no__student {
  height: 50vh;
  margin: 0 auto;
  font-size: 3rem;
  color: rgb(69, 65, 65);
  @include flex-center;
  flex-direction: column;

  & button {
    font-size: 1.5rem;
  }
}

.track {
  font-size: 4rem;
  margin: 2rem 0;
  font-style: italic;
  font-family: "Pacifico", cursive;
  letter-spacing: 0.3rem;
  word-spacing: 2rem;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  color: rgb(58, 57, 57);
}
